name: Test Workflow

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running tests for environment ${{ env.tags }}"
        env:
          tags: |-
            1.2.3
            ${{ github.ref_type != 'tag' && 'latest' || 'main' }}